<body>
    <div class="container">
        <form action="app/app.component.html">
            <div class="row">
                <div class="column">
                    <h3 class="title">Franchies with us</h3>
                    <div class="inputBox">
                        <span>Full name:</span>
                        <input type="text" placeholder="">
                    </div>
                    <div class="inputBox">
                        <span>address:</span>
                        <input type="inputBox" placeholder="">
                    </div>
                    <div class="inputBox">
                        <span>city:</span>
                        <input type="text" placeholder="">
                    </div>
                    <div class="flex">
                        <div class="inputBox">
                            <span>state:</span>
                            <input type="text" placeholder="">
                        </div>
                        <div class="inputBox">
                            <span>zip code:</span>
                            <input type="text" placeholder="">
                        </div>
                        </div>
                        </div> 
                      <div class="column">
                        <h3 class="title">Experience in any business</h3>

                        <div class="inputBox">
                            <span>Type of the business:</span>
                            <input type="text" placeholder="">
                        </div>
                        <div class="inputBox">
                            <span>locality of business:</span>
                            <input type="text" placeholder="">
                          </div>
                          <div class="inputBox">
                            <span>DO YOU OWN AN COMMERCIAL SPACE?:</span>
                            <input type="text" placeholder="">
                          </div>
                          <div class="flex">
                            <div class="inputBox">
                            <span>If Yes:</span>
                            <input type="text" placeholder="">
                          </div>
                          </div>
                          </div>
                          </div>
                          <a href="home"><input type="submit" value="submit Form" class="btn"></a>
                          </form>
                          </div>
                          </body>
