<br>
<section class="about" id="about">
    <h1>FlowerAura</h1>

    <div class="row">
        <br>
        <div class="content">
            <img src="../../assets/bhagya/f6.png" height="200px" width="200px" alt="">
            <h3>An Online Florist</h3>
            <p>Our online flower delivery platform comprises of a team with strong technological
                 and operations experience which enables us to deliver fresh flowers 
                 and gifts at the cheapest prices available in India. 
                 In addition to delivering flowers, we also strive to make that special occasion for you 
                 and your loved ones even more special by delivering surprise gifts like cakes, chocolates, teddy bears and sweets.
                </p>

                <img src="../../assets/bhagya/f7.png" height="200px" width="200px" alt="">
                <h3>Flowering Plants</h3>
                <p>The flowering plants or angiosperms (Angiospermae or Magnoliophyta) are the most diverse group of land plants.
                     The flowering plants and the gymnosperms are the only extant groups of seed plants. 
                     The flowering plants are distinguished from other seed plants by a series of apomorphies, or derived characteristics.
                     
                </p>
                </div>
                   </div>
               </section>
