<body>
    <div class="main">
    <div class="section-title">
        <h2>our menu</h2>
        <p>Selling Best Flowers.</p>
    </div>
    <div class="menus">
    <div class="menu-column">
        <h4>Indoor Plants</h4>
        <div class="single-menu">
            <img src="../../assets/bhagya/f8.png" alt="">
            <div class="menu-content">
                <h5>Fortuner Jade Plant<span>&#8377;225</span></h5>
                <p>Succulent & Cactus</p>
                <button class="submit" (click)="order1()">ORDER</button>
            </div>
           </div>
           <div class="single-menu">
            <img src="../../assets/bhagya/f9.png" alt="">
            <div class="menu-content">
                <h5>Green Syngonium Plant <span>&#8377;150</span></h5>
                        <p>Syngonium & Foliage Plants.</p>
                        <button class="submit" (click)="order2()">ORDER</button>
            </div>
            </div>
            <div class="single-menu">
                <img src="../../assets/bhagya/f10.png" alt="">
                    <div class="menu-content">
                        <h5>The Face Peace Lily <span>&#8377;170</span></h5>
                        <p>Air Purifying.</p>
                        <button class="submit" (click)="order3()">ORDER</button>
            </div>
          </div>
        </div>
           <div class="menu-column">
            <h4>Outdoor Plants</h4>
            <div class="single-menu">
                <img src="../../assets/bhagya/f11.png" alt="">
            <div class="menu-content">
                <h5>Blooming Rose Plant<span>&#8377;255</span></h5>
                        <p>Flowering Plant.</p>
                        <button class="submit" (click)="order4()">ORDER</button>
                  </div>
                  </div>
                  <div class="single-menu">
                    <img src="../../assets/bhagya/f12.png" alt="">
                    <div class="menu-content">
                        <h5>Hibiscus Beauty <span>&#8377;300</span></h5>
                        <p>Flowering Plant.</p>
                        <button class="submit" (click)="order5()">ORDER</button>
                  </div>
                  </div>
                     <div class="single-menu">
                        <img src="../../assets/bhagya/f13.png" alt="">
                    <div class="menu-content">
                        <h5>Tulsi Plant <span>&#8377;275</span></h5>
                        <p>Medicinal.</p>
                        <button class="submit" (click)="order6()">ORDER</button>
                     </div>
                  </div>
                  </div>
                  <div class="menu-column">
                    <h4>Terrarium Plant</h4>
                    <div class="single-menu">
                        <img src="../../assets/bhagya/f14.png" alt="">
                        <div class="menu-content">
                            <h5>Lucky Money Plant<span>&#8377;350</span></h5>
                            <p>Foliage Plant.</p>
                            <button class="submit" (click)="order7()">ORDER</button>
                        </div>
                  </div>
                    <div class="single-menu">
                        <img src="../../assets/bhagya/f15.png" alt="">
                    <div class="menu-content">
                        <h5>Impressive Aloe Vera <span>&#8377;325</span></h5>
                        <p>Foliage and Medicinal plant.</p>
                        <button class="submit" (click)="order8()">ORDER</button>
                    </div>
                    </div>
                    <div class="single-menu">
                        <img src="../../assets/bhagya/f16.png" alt="">
                    <div class="menu-content">
                        <h5>Good Lucky Mommy Magnetic Plant <span>&#8377;325</span></h5>
                        <p>Good Luck.</p>
                        <button class="submit" (click)="order9()">ORDER</button>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                    <a href="home"><input type="submit" value="Home" class="btn"></a>
               </body>
