<br>
<body>
    {{todayDate | date:'d/M/y'}} <br>
<br>
    {{todayDate | date:'shortTime'}}

    <section class="book" id="book">

        <h1>book <span>a table</span></h1>

        <form action="">
            <input type="text" placeholder="your name" class="box1">
            <input type="email" placeholder="your email" class="box1">
            <input type="number" placeholder="your number" class="box1">
            <input type="number" placeholder="number of flowers" class="box1">
        </form>
        <button type="submit" (click)="login()">Login</button>
    </section>
</body>
